<nav>
  <a href="#">Mieszko</a>
  <!-- <button type="button" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span></span>
  </button> -->
  <div [ngClass]="{'show': navbarOpen}" id="navbarNavDropdown">
    <ul>
      <li>
        <a [ngClass]="{'custom-active': activeLink === 'Home'}" (click)="setActive('Home')" href="#">Home</a>
      </li>
      <li>
        <a [ngClass]="{'custom-active': activeLink === 'Features'}" (click)="setActive('Features')" href="#">Features</a>
      </li>
      <li>
        <a [ngClass]="{'custom-active': activeLink === 'Pricing'}" (click)="setActive('Pricing')" href="#">Pricing</a>
      </li>
      <li>
        <a href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div aria-labelledby="navbarDropdownMenuLink">
          <a href="#">Action</a>
          <a href="#">Another action</a>
          <a href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <a [ngClass]="{'custom-active': activeLink === 'Contact'}" (click)="setActive('Contact')" href="#">Contact Me</a>
      </li>
    </ul>
  </div>
</nav>